rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write, create, update: if request.auth != null && request.auth.uid == userId;
    }
    match /leaderboard/{docId} {
      allow read: if true;
      allow create: if request.resource.data.keys().hasAll(['playerName', 'kills', 'topSpeed', 'lootScrap', 'createdAt'])
                   && request.resource.data.playerName is string
                   && request.resource.data.kills is number
                   && request.resource.data.topSpeed is number
                   && request.resource.data.lootScrap is number;
      allow update, delete: if false;
    }
    match /transactions/{docId} {
      allow read: if (request.auth != null && resource.data.userId == request.auth.uid) || (resource.data.userId == 'GUEST') || true;
      allow create: if request.resource.data.keys().hasAll(['userId', 'orderId', 'gunId', 'gunName', 'amount', 'status', 'createdAt'])
                   && request.resource.data.userId is string
                   && request.resource.data.orderId is string
                   && request.resource.data.gunId is string
                   && request.resource.data.amount is number
                   && request.resource.data.status is string;
      allow update, delete: if false;
    }
  }
}
